.box{
  
    display: flex;
    justify-content: space-around;
    background-color: rgb(197, 201, 197);
    
}
.body{
    background-color: darkgrey;
}
a{
    text-decoration:dotted;
    cursor: grab;
}
.container {
    padding: 16px;
  }